* {
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}

body {
    margin: 0;
}

.header {
    background-image: url('../img/pexels-tom-swinnen-1309766.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
    color: white;
}

.header h1 {
    font-size: 60px;
}

.header p {
    font-size: 40px;
}

.one-column {
    float: left;
    width: 100%;
    padding: 20px 20% 0 20%;
    padding: 0-20%;
}

.one-column h1,
h2 {
    text-align: center;
}

#cadetblue {
    background-color: cadetblue;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.two-column {
    padding: 20px;
    float: left;
    width: 50%;
}

.three-column {
    padding: 20px;
    float: left;
    width: 33.33%;
}

.three-column img {
    width: 100%;
}

.three-column .desc {
    padding: 10px;
    text-align: center;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}